@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap');
/* header styles */
.header-block {
    margin: 0 auto;
    width: 1360px;
    height: 115px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-ul {
    width: 500px;
    height: 115px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
/* section 1 */
.waveblock {
    background: #3D37F1;
    width: 200px;
    height: 70px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    color: #FFFFFF;
    margin-left: 15px;
    font-family: 'Open Sans', sans-ser
}
.maintitle {
    color: #534D4D;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.paragraph{
    color: #534D4D;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}
.box1 {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.main-block {
    width: 1300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
}
.image {
    max-width: 100%;
    max-height: 100%;
}
/* section 2 */
.big-block {
    margin: 100px auto 200px auto;
    width: 1300px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-block {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.header {
    color: #3D37F1;
    font-size: 15px
    font-family: 'Open Sans', sans-ser
}
.title {
    color: #5A5454;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-ser
}
.description {
    color: #747474;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.box {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}

.small-block {
    width: 100px;
    height: 30px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    width: 100px;
    height: 100px;
}
h4 {
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-ser
}
p {
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
.small-block:hover .button {
    color: #4B647E;
}
.small-block:hover {
    background: #FFFFFF;
}
.block1 {
    background-color: #FBBA77;
    width: 300px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
.block2 {
    background-color: #41EAE3;
    width: 300px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
.block3 {
    background-color: #69529F;
    width: 300px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
.block4 {
    background-color: #4386D2;
    width: 300px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
.block5 {
    background-color: #A5A2F6;
    width: 300px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
.block6 {
    background-color: #FF8088;
    width: 300px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
/* ამ სტრუქტურით ყველას პარამეტრს ჩაილდ ელემენტად აღიქვამს და სხვადასხვა ფერის ხდება უკანა ფონი */
/* .box :nth-child(1) {
    background: #FBBA77;
}
.box :nth-child(2) {
    background-color: #41EAE3;
}
.box :nth-child(3) {
    background-color: #69529F;
}
.box :nth-child(4) {
    background-color: #4386D2;
}
.box :nth-child(5) {
    background-color: #A5A2F6;
}
.box :nth-child(6) {
    background-color:#FF8088;
} */
